.centered-div {
    display: flex;
    justify-content: center;
    /* Horizontally center content */
    align-items: center;
    /* Vertically center content */
    width: 100%;
}

.main-panel input {
    color: rgb(224, 228, 255) !important;
    /* background: rgb(143, 0, 0) */
}

.main-panel input:placeholder {
    color: black !important;
}

.content-wrapper {
    margin: 10px 40px;
}

.w-80 {
    width: 80%;
}

/* admin-product page css */
.stretch-card>.card {
    width: 91%;
    min-width: 90%;
}

/* admin/product page */
.admin_heading {
    font-size: 40px;
}